.message-container {
  display: flex;
  align-items: flex-start;
    
}



.main-message-container {
    width: 300px;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    padding: 0;

}



.each-message-container {
    width: 1000px;
    margin-left: 3%;
    margin-top: 3%;

}
