.producer-page-container {
    display: flex;
}



.each-producer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    justify-content: baseline;
    margin-bottom: 5%;
    padding:20px;
    
}
.producers-container {
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.each-producer-element {
    margin-right: 15px; 
    margin-top:30px;
}


.page-change {
    cursor: pointer;
    margin-right: 0.5%;
}

.pagination {
    display: flex;
    justify-content: center;
}